@font-face {
  font-family: 'LingLengLang';
  src: url('./fonts/linglenglang-webfont.woff2') format('woff2'), url('./fonts/linglenglang-webfont.woff') format('woff');
}

:root {
  --wing-luke-yellow: #fdbb2f;
  --wing-luke-red: #8b0e04;
  --header-height: 50px
}

body {
  font-family: "Lato", sans-serif;
}

header {
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--wing-luke-yellow);
}

h1 {
  padding: 1.5em;
  display: flex;
  flex-direction: row;
}

.teensway-font {
  font-size: 1em;
  font-weight: 900;
  letter-spacing: 1px;
}

.comics-font {
  font-family: 'LingLengLang', cursive;
  font-size: 2em;
  color: var(--wing-luke-red);
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0.5em;
}

li {
  padding: 0 1.5em;
}

.splash-0 {
  height: calc(100vh - var(--header-height));
  width: 100%;
  background-color: lightpink;
}

.splash-1 {
  height: calc(100vh - var(--header-height));
  width: 100%;
  background-color: lightgoldenrodyellow;
}

.splash-2 {
  height: calc(100vh - var(--header-height));
  width: 100%;
  background-color: lightgreen;
}

.splash-3 {
  height: calc(100vh - var(--header-height));
  width: 100%;
  background-color: lightskyblue;
}