/* Variables and custom font face */

@font-face {
  font-family: 'LingLengLang';
  src: url('./fonts/linglenglang-webfont.woff2') format('woff2'), url('./fonts/linglenglang-webfont.woff') format('woff');
}

:root {
  --wing-luke-yellow: #fdbb2f;
  --wing-luke-red: #8b0e04;
  --header-height: 50px
}

body {
  font-family: "Lato", sans-serif;
}

/* Header, including nav bar */

header {
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--wing-luke-yellow);
}

h1 {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
}

.teensway-font {
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 1px;
}

.comics-font {
  font-family: 'LingLengLang', cursive;
  font-size: 2rem;
  color: var(--wing-luke-red);
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0.5rem;
}

li {
  padding: 0 1.5rem;
}

/* Splash carousel */

.splash {
  height: calc(100vh - var(--header-height));
  width: 100%;
  background-color: hsl(0, 0%, 100%);
}

.splash-left, .splash-right {
  margin: 2rem;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  transform: translate(0, -100%);
}

.splash-right {
  right: 0;
}

.splash-text {
  right: 0;
  bottom: 0;
  position: absolute;
  margin: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: hsla(0, 0%, 0%, 0.1);
  border-radius: 0.2rem;
}

.splash-author {
  padding: 1rem;
  font-size: 2rem;
  letter-spacing: 0.25rem;
}

.splash-title {
  padding: 1rem;
  font-size: 4rem;
  letter-spacing: 0.25rem;
}

/* Gallery */

.gallery {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 60px;
}

.gallery-item {
  width: 250px;
  margin: 60px;
  padding: 5px;
  border: 1px solid red;
}

.gallery-item-thumbnail {
  width: 240px;
  height: 240px;
  background-color: hsla(0, 0%, 0%, 0.1);
}