/* Variables and custom font face */

@font-face {
  font-family: 'LingLengLang';
  src: url('./fonts/linglenglang-webfont.woff2') format('woff2'), url('./fonts/linglenglang-webfont.woff') format('woff');
}

:root {
  --wing-luke-yellow: hsl(41, 98%, 59%);
  --wing-luke-red: hsl(4, 94%, 28%);
  --wing-luke-light-yellow: hsla(41, 98%, 59%, 0.4);
  --header-height: 50px;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #FFFCF6;
}

i {
  font-size: smaller;
}

i.fa-external-link-alt {
  opacity: 0.3;
}

/* Avatar style */

.avatar {
  width: 200px;
  height: 200px;
  border: 2px solid #777777;
}

/* Main page header */

.logo {
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
}

.logo img {
  width: 100%;
}

.big-header {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-header {
  padding: 8vh 0 2.5rem 0;
}

.big-header h1 {
  cursor: pointer;
}

.big-header .teensway-font {
  padding-right: 15rem;
  font-size: 3.5rem;
  font-weight: 900;
  letter-spacing: 5px;
  transform: translate(0, 20px);
}

.big-header .comics-font {
  padding-left: 15rem;
  font-family: 'LingLengLang', cursive;
  font-size: 12rem;
  color: var(--wing-luke-red);
}

.big-header ul {
  display: flex;
  align-items: center;
  border-top: var(--wing-luke-yellow) 3px solid;
  border-bottom: var(--wing-luke-yellow) 3px solid;
}

@media (max-width: 850px) {
  .big-header ul {
    flex-direction: column;
  }
}

.big-header ul li {
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  white-space: nowrap;
}

.big-header ul li:hover {
  opacity: 0.4;
}

/* Small header, including nav bar */

.small-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--wing-luke-yellow);
}

.small-header h1 {
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.small-header .teensway-font {
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 1px;
}

.small-header .comics-font {
  font-family: 'LingLengLang', cursive;
  font-size: 2rem;
  color: var(--wing-luke-red);
}

@media (max-width: 850px) {
  .small-header h1 {
    padding: 1rem 1rem 0 1rem;
  }

  .small-header .teensway-font {
    font-size: 1.5rem;
  }

  .small-header .comics-font {
    font-size: 3rem;
  }
}

.small-header ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0.5rem;
}

@media (max-width: 850px) {
  .small-header, .small-header ul {
    flex-direction: column;
  }
}

.small-header ul li {
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.small-header ul li:hover {
  opacity: 0.4;
}

/* Splash carousel */

.splash {
  margin: 0 auto;
  height: 447px;
  width: 800px;
  position: relative;
}

.splash-arrows {
  color: rgba(255, 255, 255, 0.8);
  font-size: 3rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}

.splash-left, .splash-right {
  margin: 2rem;
  cursor: pointer;
}

.splash-left:hover {
  color: rgba(0, 0, 0, 0.7);
}

.splash-right:hover {
  color: rgba(0, 0, 0, 0.7);
}

.splash-img {
  width: 800px;
  position: absolute;
}

@media (max-width: 850px) {
  .splash {
    max-width: 95vw;
    max-height: 53vw;
  }

  .splash-img {
    max-width: 95vw;
  }
}

/* Gallery */

.gallery {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 40px auto;
}

.gallery-item {
  width: 200px;
  margin: 15px;
}

.gallery-item-thumbnail {
  cursor: pointer;
}

.gallery-item-text {
  padding: 0.5rem;
}

.gallery-item-author {
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: 900;
  text-align: center;
  line-height: 1.4rem;
}

.gallery-item-author:hover {
  opacity: 0.4;
}

/* Footer */

.footer-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--wing-luke-yellow);
  font-size: 0.75rem;
  position: relative;
}

.footer-text p {
  padding: 0.5rem;
}

.right-align {
  text-align: right;
}

.back-to-top {
  display: block;
  text-align: right;
}

.back-to-top-arrow {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 30px;
  font-size: 3rem;
  margin: 2.5rem;
  color: hsla(0, 0%, 0%, 0.4);
}

/* Comic section */

.comic-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  color: #555555;
}

.comic-arrow-bar {
  display: flex;
  align-items: center;
}

.comic-random {
  cursor: pointer;
  padding: 0 30px;
  font-size: 1.3rem;
}

.comic-arrow {
  cursor: pointer;
  padding: 0 12px 9px 12px;
  font-size: 3.8rem;
}

.comic-max-arrow {
  cursor: pointer;
  padding: 0 12px 9px 12px;
  font-size: 3.8rem;
}

.comic-random:hover {
  opacity: 0.4;
}

.comic-arrow:hover {
  opacity: 0.4;
}

.comic-max-arrow:hover {
  opacity: 0.4;
}

.comic {
  margin: 15px;
  max-height: 70vh;
  max-width: 50vw;
  border: 1px solid #666666;
  cursor: zoom-in;
}

.comic-dot-bar {
  padding: 5px 0 40px 0;
  font-size: 1rem;
  letter-spacing: 12px;
}

.comic-dot-red {
  font-size: smaller;
  color: var(--wing-luke-red);
}

.comic-dot-gray {
  font-size: smaller;
  opacity: 0.4;
}

@media (max-width: 850px) {
  .comic {
    max-height: 95vh;
    max-width: 95vw;
  }

  .comic-random {
    padding: 0 16px;
    font-size: 1rem;
  }
  
  .comic-arrow {
    padding: 0 8px 6px 8px;
    font-size: 3rem;
  }
  
  .comic-max-arrow {
    padding: 0 8px 6px 8px;
    font-size: 3rem;
  }
}

/* Lightbox modal */

.darkbox {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: zoom-out;
}

.lightbox-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 95vw;
  max-height: 95vh;
  cursor: zoom-out;
}

@media (max-width: 850px) {
  .lightbox-image{
    max-height: 100vh;
    max-width: 100vw;
  }
}

/* Bio section */

.bio {
  padding: 1rem;
  background-color: var(--wing-luke-light-yellow);
  display: flex;
  justify-content: center;
}

.bio-author {
  padding: 4rem 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.bio-author-text {
  margin: -4px 20px;
  white-space: pre-wrap;
}

.bio-author h3 {
  padding: 0 10px 10px 10px;
  font-size: 2rem;
  line-height: 2.25rem;;
}

.bio-author p {
  padding: 5px 10px;
  width: 240px;
  line-height: 1.25rem;
}

@media (max-width: 850px) {
  .bio-author {
    flex-direction: column;
    align-items: center;
  }

  .bio-author-text {
    margin: 20px;
  }

  .bio-author h3 {
    padding: 10px;
    text-align: center;
  }

  .bio-author p {
    text-align: center;
  }
}

/* About the Class section */

.about-the-class {
  display: flex;
  margin: 5rem 0;
  justify-content: space-evenly;
}

.about-the-class h2 {
  padding: 1rem;
  font-size: 3.5rem;
  letter-spacing: 0.25rem;
}

.about-the-class p {
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 2rem;
  max-width: 800px;
}

.about-the-class-image {
  width: 100%;
  max-width: 600px;
  height: auto;
}

@media (max-width: 850px) {
  .about-the-class {
    margin: 1rem 0.5rem;
    flex-direction: column;
  }

  .about-the-class h2 {
    text-align: center;
    font-size: 2.5rem;
  }

  .about-the-class p {
    text-align: center;
  }

  .about-the-class-image {
    margin: 2rem 0;
  }
}


/* About the Teachers section */

.about-the-teachers {
  padding: 8rem;
  background-color: var(--wing-luke-light-yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teacher {
  display: flex;
  padding: 2rem;
}

.teacher-text {
  padding: 0 2rem;
}

.teacher-text h4 {
  font-size: 1.5rem;
}

.teacher-text h3 {
  padding: 1rem 0;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.teacher-text p {
  font-size: 1rem;
  max-width: 800px;
  line-height: 1.4rem;
}

@media (max-width: 850px) {
  .about-the-teachers {
    padding: 1rem 0 3rem 0;
  }

  .teacher {
    flex-direction: column;
    align-items: center;
  }

  .teacher-text h4 {
    padding-top: 1rem;
    text-align: center;
  }

  .teacher-text h3 {
    text-align: center;
  }

  .teacher-text p {
    text-align: center;
  }
}

/* Contact section */

.contact {
  padding: 5rem 10rem 10rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-text {
  max-width: 600px;
  min-width: 600px;
}

.contact-text h2 {
  text-align: center;
  padding: 1rem;
  font-size: 3.5rem;
  letter-spacing: 0.25rem;
}

.contact-text p {
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

.contact-form {
  margin: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  max-width: 570px;
  min-width: 570px;
  background-color: white;
  border: 1px solid #666666;
}

@media (max-width: 850px) {
  .contact {
    margin: 1rem 0.5rem;
    padding: 0;
  }

  .contact-text {
    min-width: 0;
  }

  .contact-text h2 {
    font-size: 2.5rem;
  }

  .contact-form {
    min-width: 0;
    margin: 1rem 1rem 4rem 1rem;
  }
}
