/* Variables and custom font face */

@font-face {
  font-family: 'LingLengLang';
  src: url('./fonts/linglenglang-webfont.woff2') format('woff2'), url('./fonts/linglenglang-webfont.woff') format('woff');
}

:root {
  --wing-luke-yellow: hsl(41, 98%, 59%);
  --wing-luke-red: hsl(4, 94%, 28%);
  --wing-luke-light-yellow: hsla(41, 98%, 59%, 0.4);
  --header-height: 50px;
  --footer-height: 2rem;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #FFFCF6;
}

i {
  font-size: smaller;
}

i.fa-external-link-alt {
  opacity: 0.3;
}



a {
  color: inherit;
  text-decoration: inherit;
}

/* Avatar style */

.avatar {
  width: 200px;
  height: 200px;
  border: 2px solid #777777;
}

/* Main page header */

.logo {
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
}

.logo img {
  width: 100%;
}

.big-header {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-header {
  padding: 5rem 0 2.5rem 0;
}

.big-header h1 {
  cursor: pointer;
}

.big-header .teensway-font {
  padding-right: 15rem;
  font-size: 3.5rem;
  font-weight: 900;
  letter-spacing: 5px;
  transform: translate(0, 20px);
}

.big-header .comics-font {
  padding-left: 15rem;
  font-family: 'LingLengLang', cursive;
  font-size: 12rem;
  color: var(--wing-luke-red);
}

.big-header ul {
  display: flex;
  align-items: center;
  border-top: var(--wing-luke-yellow) 3px solid;
  border-bottom: var(--wing-luke-yellow) 3px solid;
}

@media (max-width: 700px) {
  .big-header ul {
    flex-direction: column;
  }
}

.big-header ul li {
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  white-space: nowrap;
}

.big-header ul li:hover {
  opacity: 0.4;
}

/* Small header, including nav bar */

.small-header, .footer-text {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--wing-luke-yellow);
}

.small-header h1 {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.small-header .teensway-font {
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 1px;
}

.small-header .comics-font {
  font-family: 'LingLengLang', cursive;
  font-size: 2rem;
  color: var(--wing-luke-red);
}

.small-header ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0.5rem;
}

.small-header ul li {
  padding: 0 1.5rem;
  cursor: pointer;
}

.small-header ul li:hover {
  opacity: 0.4;
}

/* Splash carousel */

.splash {
  margin: 0 auto;
  height: 400px;
  max-width: 800px;
  position: relative;
  background-color: whitesmoke;
}

.splash-arrows {
  color: rgba(0, 0, 0, 0.4);
  font-size: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.splash-left, .splash-right {
  margin: 2rem;
  cursor: pointer;
}

.splash-left:hover {
  color: rgba(0, 0, 0, 0.8);
}

.splash-right:hover {
  color: rgba(0, 0, 0, 0.8);
}

.splash-text {
  right: 0;
  bottom: 0;
  margin: 2rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: hsla(0, 0%, 0%, 0.1);
  border-radius: 0.2rem;
}

.splash-title {
  cursor: pointer;
  padding: 0.75rem;
  font-size: 1.25rem;
  letter-spacing: 0.15rem;
}

.splash-title:hover {
  opacity: 0.4;
}

/* Gallery */

.gallery {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 60px 250px;
}

.gallery-item {
  width: 200px;
  margin: 15px 45px;
}

.gallery-item-thumbnail {
  cursor: pointer;
}

.gallery-item-text {
  padding: 0.5rem;
}

.gallery-item-author {
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: 900;
  text-align: center;
  line-height: 1.4rem;
}

.gallery-item-author:hover {
  opacity: 0.4;
}

/* Footer */

.footer-text {
  height: var(--footer-height);
  font-size: 0.75rem;
  padding: 0 1rem;
  position: relative;
}

.back-to-top {
  display: block;
  text-align: right;
}

.back-to-top-arrow {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: var(--footer-height);
  transform: rotate(90deg);
  font-size: 3rem;
  margin: 2.5rem;
  color: hsla(0, 0%, 0%, 0.4);
}

/* Comic section */

.comic-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  color: #555555;
}

.comic-arrow-bar {
  margin-left: 14px;
  display: flex;
  align-items: center;
}

.comic-random {
  cursor: pointer;
  padding: 0 30px;
  font-size: 1.3rem;
}

.comic-arrow {
  cursor: pointer;
  padding: 0 12px 9px 12px;
  font-size: 3.8rem;
}

.comic-max-arrow {
  cursor: pointer;
  padding: 0 12px 9px 12px;
  font-size: 3.8rem;
}

.comic-random:hover {
  opacity: 0.4;
}

.comic-arrow:hover {
  opacity: 0.4;
}

.comic-max-arrow:hover {
  opacity: 0.4;
}

.comic {
  margin: 15px;
  max-height: 60vh;
  max-width: 50vw;
  border: 1px solid #666666;
}

.comic-dot-bar {
  padding: 25px;
  font-size: 1rem;
  letter-spacing: 12px;
}

.comic-dot-red {
  font-size: smaller;
  color: var(--wing-luke-red);
}

.comic-dot-gray {
  font-size: smaller;
  opacity: 0.4;
}

/* Bio section */

.bio {
  padding: 1rem;
  background-color: var(--wing-luke-light-yellow);
  display: flex;
  justify-content: center;
}

.bio-author {
  padding: 4rem 10rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.bio-author-avatar {
  width: 200px;
  height: 200px;
  margin: 15px;
  background-color: hsla(0, 0%, 0%, 0.1);
}

.bio-author-text {
  margin: -4px 20px;
  white-space: pre-wrap;
}

.bio-author h3 {
  padding: 0 10px 10px 10px;
  font-size: 2rem;
  line-height: 2.25rem;;
}

.bio-author p {
  padding: 5px 10px;
  width: 240px;
  line-height: 1.25rem;
}

/* About the Class section */

.about-the-class {
  display: flex;
  padding: 5rem 10rem;
}

.about-the-class h2 {
  padding: 1rem;
  font-size: 3.5rem;
  letter-spacing: 0.25rem;
}

.about-the-class p {
  padding: 1rem 10rem 0 1rem;
  font-size: 1.25rem;
  line-height: 2rem;
  max-width: 800px;
}
.about-the-class-image {
  max-width: 600px;
  margin: 10px;
}

/* About the Teachers section */

.about-the-teachers {
  padding: 8rem;
  background-color: var(--wing-luke-light-yellow);
  display: flex;
  flex-direction: column;
}

.teacher {
  display: flex;
  padding: 2rem;
}

.teacher-text {
  padding-left: 2rem;
}

.teacher-text h4 {
  font-size: 1.5rem;
}

.teacher-text h3 {
  padding: 1rem 0;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.teacher-text p {
  font-size: 1rem;
  max-width: 800px;
  line-height: 1.25rem;
}

/* Contact section */

.contact {
  padding: 5rem 10rem 10rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-text {
  width: 600px;
}

.contact-text h2 {
  text-align: center;
  padding: 1rem;
  font-size: 3.5rem;
  letter-spacing: 0.25rem;
}

.contact-text p {
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

.contact-form {
  margin: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  width: 570px;
  background-color: white;
  border: 1px solid #666666;
}
